<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AppFolderName" value="Bin" />
        <add key="AppExeName" value="Apothex.exe" />
        <add key="DeleteFolderName" value="Bin\Sandbox" />
        <add key="VersionHash" value="" />
        <add key="UpdateUrl" value="" />
        <add key="UseCurrentProxy" value="0" />
        <add key="ProxyUrl" value="" />
        <add key="ProxyUserName" value="" />
        <add key="ProxyPassword" value="" />
        <add key="AutoUpdate" value="1" />
    <add key="Languages" value="" /></appSettings>
</configuration>