<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Apothex.DataType.Properties.Settings.ApothexConnectionString" connectionString="Data Source=localhost;Initial Catalog=Apothex;Persist Security Info=True;User ID=apothexlogin;Password=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
