<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsWS" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="Apothex.DataType.Properties.Settings.ApothexConnectionString" connectionString="Data Source=92.241.68.118,14330;Initial Catalog=Apothex;Persist Security Info=True;User ID=apothexlogin;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>