<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Database -->
    <add key="LoginUserName" value="sa"/>
    <add key="LoginPassword" value="BbIBdLZtV5Tu4yimP0Lb8Y38LfU="/>
    <add key="ServerName" value="92.241.68.118,14330"/>
    <add key="ServerName0" value="localhost"/>
    <add key="DatabaseName" value="Apothex"/>
    <add key="UserName" value="apothexlogin"/>
    <add key="Password" value="L67k3+xrDhE="/>
    <add key="ConnectionTimeout" value=""/>
    <add key="CommandTimeout" value="1000"/>
    <add key="OfflineServerName" value="localhost"/>
    <add key="OfflineDatabaseName" value="ApothexOffline"/>
    <add key="OfflineUserName" value="apothexlogin"/>
    <add key="OfflinePassword" value="L67k3+xrDhE="/>
    <add key="OfflineConnectionTimeout" value=""/>
    <add key="OfflineCommandTimeout" value=""/>

    <!-- Additional -->
    <add key="AutoNewRow" value="1"/>
    <add key="OfflineMode" value="0"/>

    <!-- Skin -->
    <add key="SkinName" value="Caramel"/>
    <add key="AllowFormSkins" value="0"/>

    <!-- GPC -->
    <add key="UseHedgehog" value="1"/>
    <add key="HedgehogFile" value="c:\BARAT.DBF"/>

    <!-- Provider -->
    <add key="SynchronizationProvider0" value="WS"/>
    <add key="WSSynchronizationUrl0" value="http://localhost:8086/WSSynchronization.asmx"/>
    <add key="WSSynchronizationUrl1" value="http://92.241.68.118:8080/ws/WSSynchronization.asmx"/>
    <add key="WSUserName0" value=""/>
    <add key="WSPassword0" value=""/>
    <add key="WSDomain0" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
